@model DBGenViewModel

@{
    ViewData["Title"] = "Generator baz danych";
}

<h2>Wybierz bazę danych</h2>

<form asp-action="GenerateDatabase" method="post" class="mt-3 row">
    @Html.AntiForgeryToken()

    <div class="mb-3 col-xxl-5">
        <label asp-for="SelectedEngine" class="form-label"></label>
        <select asp-for="SelectedEngine" class="form-select">
            <option value="">-- wybierz --</option>
            @foreach (var db in Model.EngineTypes)
            {
                <option value="@db.Value">@db.Text</option>
            }
        </select>
        <span asp-validation-for="SelectedEngine" class="text-danger"></span>
    </div>

    <div class="mb-3 col-xxl-5">
        <label asp-for="SelectedDatabase" class="form-label"></label>
        <select asp-for="SelectedDatabase" class="form-select">
            <option value="">-- wybierz --</option>
            @foreach (var db in Model.Databases)
            {
                <option value="@db.Value">@db.Text</option>
            }
        </select>
        <span asp-validation-for="SelectedDatabase" class="text-danger"></span>
    </div>

    <div class="col-xxl-1 d-flex flex-column mb-3">
        <div class="mt-auto text-end">
            <button type="submit" name="actionType" value="generate" class="btn btn-primary">Generuj</button>
        </div>
    </div>
    <div class="col-xxl-1 d-flex flex-column mb-3">
        <div class="mt-auto text-end">
            <button type="submit" name="actionType" value="download" class="btn btn-primary">Pobierz</button>
        </div>
    </div>

</form>
@if (!string.IsNullOrEmpty(Model.Script))
{
    <link href="https://cdn.jsdelivr.net/npm/prismjs/themes/prism.min.css" rel="stylesheet" />

    <!-- Rdzeń + autoloader składni -->
    <script src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-core.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs/plugins/autoloader/prism-autoloader.min.js"></script>

    <!-- Toolbar + Copy to clipboard -->
    <link href="https://cdn.jsdelivr.net/npm/prismjs/plugins/toolbar/prism-toolbar.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>

    <pre class="code"><code class="language-sql">@Model.Script</code></pre>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}